@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import './styles/btns';

html {
  background-color: rgb(221, 242, 255);
  position: relative;
}
::selection {
  color: rgb(246, 166, 166);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

@import '../../features/group/group';
@import '../../features/home/home';
@import './Loading/loading';
@import './Navigation/navigation';

@media (max-width: 1500px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 300px
  }
}